* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

/* design by type */
button {
  padding: 0.5rem 0.6rem;
  background-color: rgba(0, 0, 0, 0.1);
}
button:hover {
  cursor: pointer;
}
body {
  background-image: url('../img/backgournd.jpg');
  background-size: 100vw 100vh;
  background-repeat: repeat-y;
  position: relative;
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
p {
  margin-left: 0.5rem;
}
h1 {
  text-align: center;
  margin-bottom: 1rem;
}
label {
  color: blanchedalmond;
}
input,
select {
  color: black;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.699);
}
option,
select {
  color: black;
}
/* design by class */
.header {
  display: flex;
  justify-content: space-around;
}
.header > button {
  margin: auto 0.5rem;
  padding: 0.5rem 0.6rem;
  background-color: rgba(3, 10, 10, 0.7);
}
.info {
  display: grid;
  max-width: 75%;
  grid-template-columns: repeat(10, 1fr);
  margin: auto;
}
.info > div {
  margin-top: 0.3rem;
}

.container input {
  width: 90%;
}

body > form {
  display: flex;
  justify-content: center;
  color: black;
}

.container_Heads > div:hover {
  cursor: pointer;
}
.container button {
  background-color: inherit;
  border-radius: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}
.container > div {
  margin: 0.5rem auto;
  border-radius: 15px;
  background-color: #01bac0c0;
  transition: all 0.2s ease-in-out;
}
.container > div:hover {
  transform: scale(1.3);
  max-width: 65%;
}

/* utl */
.bold {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.hidden {
  display: none;
}
/* the spinner */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50vh;
  left: 45vw;
}
.red button {
  color: red !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* responsive design */
@media screen and (max-width: 750px) {
  :root {
    font-size: 10px;
  }
  .info {
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  button {
    padding: 0.2rem 0.3rem;
    font-size: 10px;
  }
}
